:root {
  --main-bg-color: #6d4f61;
  --secodary-bg-color: #4b3743;
  --main-txt-color: #fff;
  --main-gradient-color: #6d4f61;
  --minor-gradient-color: #8a7389;
}

.mdc-grid-tile {
  --mdc-grid-list-tile-width: 33%;
}

@import "@material/card/mdc-card";

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: var(--main-bg-color); /* fallback for old browsers */
  background: linear-gradient(
    to right,
    var(--main-gradient-color),
    var(--minor-gradient-color)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 16px;
}

h1.title {
  font-size: 32px;
}

.subtitle {
  display: inline-block;
  padding: 8px;
  margin-bottom: 8px;
  text-transform: capitalize;
  font-size: 18px;
  color: var(--main-txt-color);
}

#typed-subtitle {
  height: 21px;
}

.box-primary {
  background: var(--secodary-bg-color);
  display: inline-block;
  padding: 8px;
  color: var(--main-txt-color);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 18px;
  color: var(--main-txt-color);
}

.basic-info-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile-picture-container {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  display: inline-block;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 16px;
}

.profile-picture-container img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  display: block;
}

.external-link {
  text-decoration: none;
  color: var(--main-txt-color);
}

.skills-container {
  display: block;
  margin: 16px 0;
  padding: 16px;
  text-align: center;
}

.projects-container {
  display: block;
  margin: 16px 0;
  text-align: center;
}

.contact-container .box-primary {
  display: flex;
  align-items: center;
}

.contact-container .box-primary span,
.contact-container .box-primary a {
  margin-left: 8px;
}

.introduction-container {
  text-align: center;
  width: calc(100% - 16px);
  font-size: 18px;
}

.charts-items-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.skills-chart-item {
  width: 33%;
  border: 1px solid #fff;
}

.general-chart {
  text-align: center;
  width: calc(100% - 2px);
  font-size: 18px;
  border: 1px solid #fff;
  margin-top: 8px;
}

.mx-1 {
  margin-left: 8px;
  margin-right: 8px;
}

/* profile */
.profile-card-title {
  background: var(--secodary-bg-color);
  padding: 8px;
  border-radius: 8px;
  margin-top: 8px;
}

.my-card__media {
  background-image: url("https://github.com/Nickrosendo/Weather/blob/master/cities-in-portugal-porto.jpg?raw=true");
  background-size: contain !important;
}

.my-card__media.billy-client {
  background-image: url("/images/billy-client.png");
}

.my-card__media.billy-admin {
  background-image: url("/images/billy-admin.png");
}

.my-card__media.billy-server {
  background-image: url("/images/billy-server.png");
}

.my-card__media.randch-client {
  background-image: url("/images/randch-client.png");
}

.my-card__media.randch-server {
  background-image: url("/images/randch-server.png");
}

.my-card__media.space-invaders-js {
  background-image: url("/images/space-invaders-js.png");
}

.my-card__media.ifaltas {
  background-image: url("/images/ifaltas.png");
}

.my-card__media.friends-night {
  background-image: url("/images/friends-night.png");
}

.my-card__media.api-friends-night {
  background-image: url("/images/api-friends-night.png");
}

.my-card__media.vue-game {
  background-image: url("/images/vue-game.png");
}

.my-card__media.solar-system {
  background-image: url("/images/solar-system.png");
}

/* overides */

.mdc-card__media-content {
  padding-top: 16px;
}
